.search-container {
    margin: 0 0 2rem 10%;
}

#search {
    background: var(--secondary-color);
    color: #fff;
    border: none;
    border-radius: 5px;

    width: 600px;
    height: 50px;
    
    padding-left: 15px;
    
    font-size: .9rem;
}

.icon {
    margin-left: -50px;
    color: #4f5b66;
}
