
img {
    height: 230px;
    width: 335px;
    border-radius: 2px;
    overflow: hidden;
    transition: all 0.3s ease;
    cursor: pointer;
}

img:hover{
    filter: blur(2px);
}

.card {
    display: inline-block;

    margin-bottom: 1.5rem;
    padding: 5px;
    width: 33.33%;
    height: 100%;

    border-radius: 5px;
    overflow: hidden;
}

.media-content{
    display: flex;
}

.name{
    
    width: 335px;
    font-family: Poppins;
    font-weight: 700;
    font-size: 1.3rem;
}

.genres{
    
    margin: 0.8rem 0.2rem 0.8rem 0;
    padding: 0.3rem;

    background-color: #fa7f72;
    color: black;
    font-size: 1rem;

    border-radius: 2px;
}

.date{
    margin: 0.8rem 0.2rem 0.8rem 0;
    padding: 0.3rem;
    font-size: 1rem;
    
    background-color: orange;
    color: black;

    border-radius: 2px;
}

.time{
    background-color: #32323c;
    color: white;
    font-size: 1rem;
    margin: 0.8rem 0.2rem 0.8rem 0;
    
    padding: 0.3rem;
    width: max-content;
    
    border-radius: 2px;
}
