nav {
    background-color: var(--secondary-color);
    width: 100%;
}

.navbar{ 
    background-color: var(--secondary-color);
    overflow: hidden;   
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10%;
}

.logo {
    text-decoration: none;

    color: #f2f2f2;
    cursor: pointer;

    font-family: Poppins;
    font-weight: 700;
    font-size: 1.5rem;
}

nav ul{
    list-style: none;
    height: 100%;
}

nav ul li{
    font-family: Poppins;
    font-weight: 700;
    font-size: 1.2rem;
    
    padding: 0 20px;
    cursor: pointer;

    display: inline-block;
}

.description {
    padding: 3rem 0 2rem 10%;
    line-height: 1.4;
}

.description h2{
    padding-bottom: 1rem;
    font-size: 2.2rem;
    line-height: 1.4;
    width: 100%;
}

.description p {
    width: 40rem;
}