nav{  
    background-color: #252537;
    overflow: hidden;
    height: 4rem; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
}

nav h1 {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 1.4rem;
}

.description {
    font-size: 1.4rem;
    margin: 0 2rem 0 2rem;
}